.imgContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    justify-content: flex-start;
}

@media container {
    width: 100%;
}

.subTitle {
    font-size: 18px;
    color: rgb(150, 150, 150);
}