.imgContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    justify-content: flex-start;
}



.subTitle {
    font-size: 18px;
    color: rgb(150, 150, 150);
}


/* .btn-dark {
    background-color: #86d67c !important;
    border: #86d76c 1px solid !important;
}

.btn.disabled {
    cursor: not-allowed !important;
    opacity: 20% !important;
} */